<ion-view title="Order List" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="orderList-form1" class="list">
      <label class="item item-input" id="orderList-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-thumbnail-left assertive" id="orderList-list-item1">
        <img src="img/92rQSuhPSQOSj6zRYF2K_unnamed.png">
        <h2assertive  ui-sref="tabsController.order1">Order #1
          <p style="white-space:normal;">Price: 20.000
            <br>Fee Shipping: 20.000
            <br>Pay Status: No
            <br>Shipping Status: Shipping
            <br>Location: 111 Cao thang, Quan 3,
            <br>
            <br>
            <button class="button button-small button-assertive" ng-click="stopTracking()">Shipped</button>
            <button class="button button-small button-positive" ng-click="startTracking()">Shipping</button>
          </p>
        </h2assertive>
      </ion-item>
    </form>
  </ion-content>
</ion-view>