<ion-view title="Order List" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="orderList-form1" class="list">
      <label class="item item-input" id="orderList-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-thumbnail-left assertive" id="orderList-list-item1" ng-repeat="order in listOrder">
        <img src="img/92rQSuhPSQOSj6zRYF2K_unnamed.png">
        <h2assertive>Order #{{order._id}}
          <p style="white-space:normal;">Price: {{order.total_price}}
            <br>Fee Shipping: {{order.feeshipping}}
            <br>Pay Status: {{order.paymentstatus}}
            <br>Shipping Status: {{order.shippingstatus}}
            <br>Location: {{order.location_ordered.address}},
            <br>
            <br>
            <a class="button button-small button-assertive" ui-sref="tabsController.order1({idorder : order._id})">Detail</a>
            <button class="button button-small button-assertive" ng-click="stopTracking()">Shipped</button>
            <button class="button button-small button-assertive" ng-click="startTracking()">Shipping</button>
          </p>
        </h2assertive>
      </ion-item>
    </form>
  </ion-content>
</ion-view>