<ion-view ng-attr-title="Order detail" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="order1-card21">
      <ion-item class="item-icon-left" id="order1-list-item8">
        <i class="icon ion-cash"></i>Prix : {{Order.total_price}}</ion-item>
      <ion-item class="item-icon-left" id="order1-list-item9">
        <i class="icon ion-location"></i>Emplacement: {{Order.location_ordered.address}}</ion-item>
      <ion-item class="item-icon-left" id="order1-list-item10">
        <i class="icon ion-ios-contact-outline"></i>Ordre des utilisateurs : {{Order.user_order.local.name}}, <a ng-href="tel :{{Order.user_order.phone}}">,{{Order.user_order.phone}}</a>
      </ion-item>
      <div class=" item item-image" ng-hide="isHavePoint">
        <ng-map zoom="16" center="[{{lat}}, {{lng}}]">
          <marker position="[{{lat}}, {{lng}}]" title="hello"></marker>
      </div>
      <div class="item item-body" id="order1-list-item-container2">
        <ion-list id="order1-list1">
          <ion-item id="order1-list-item15" ng-repeat="foods in Order.foods">{{foods.food_id.food_name}}
            <br> Quantity : {{foods.quantity}}</ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>