<ion-view title="Profile" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="profile-list2">
      <ion-item class="item-avatar" id="profile-list-item18">
        <img src="img/VHo836keTxaR2CK7dp6t_2529241_icon.png">
        <h2>Nhat Nguyen</h2>
      </ion-item>
      <ion-item class="item-icon-left" id="profile-list-item19">
        <i class="icon ion-ios-home"></i>Home : Luong Dinh Cua, Quan 2</ion-item>
      <ion-item class="item-icon-left" id="profile-list-item21">
        <i class="icon ion-transgender"></i>Gender : Male</ion-item>
      <ion-item class="item-icon-left" id="profile-list-item20">
        <i class="icon ion-android-call"></i>Phone : 0989.960.299</ion-item>
      <ion-item class="item-icon-left" id="profile-list-item22" ui-sref="tabsController.orderHistory">
        <i class="icon ion-android-restaurant"></i>My Order : 30</ion-item>
      <button ng-click="logout()" class="button button-assertive  button-block button-outline icon-left ion-log-in">Log out</button>
    </ion-list>
  </ion-content>
</ion-view>